body {
  background-color: #bfd7ed;
}
#top {
  text-align: center;
}
#header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: solid 40px #003b73;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #003b73;
  margin-bottom: 20px;
}
li {
  float: left;
  border-right: 1px solid white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #bfd7ed;
}

#header-img {
  height: 100px;
  width: 250px;
}

#form {
  background-color: #bfd7ed;
  height: 50px;
  width: 60%;
  text-align: center;
  margin: auto;
}

#email {
  margin-top: 5px;
  width: 300px;
  text-align: center;
}

#submit {
  margin-bottom: 5px;
  background-color: yellow;
  width: 300px;
  height: 40px;
  margin-top: 10px;
}

.info-area {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 60%;
  overflow: auto;
}

.info-area > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: left;
}
#video {
  width: 100%;
  height: auto;
  text-align: center;
  margin: auto;
}

.order-info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  width: 60%;
  overflow: auto;
}
.order-info > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  text-align: left;
}
footer {
  color: #003b73;
}
@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #logo {
    display: none;
  }
}
@media (max-width: 900px) {
  #video {
    width: 400px;
  }
}

@media (max-width: 200px) {
  #video {
    display: none;
  }
}
